body, html{
  background: #DFB6A3;
  margin: 0px;
}


.tophead{
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  background: #DFB6A3;
  padding-top: 18px;
  margin: 5px;
}

.headline{
  margin: 15px;
  font-family: 'Dancing Script', cursive;
  font-size: 68px;
  background: #DFB6A3;
  text-align: right;
  padding-top: 15px;
}

.content{
  display: flex;
  background: #6AB6CE;
  margin: 15px;
  padding: 15px;
  flex-flow: wrap;
  justify-content: center;
  margin-right: 55px;
  margin-left: 55px;
}

.items{
  background: #2C72B0;
  margin: 10px;
  padding: 15px;
}

.link{
  font-family: 'Russo One', sans-serif;
  text-align: right;
}

.title{
  padding: 1px;
  margin: 1px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lemonchiffon;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: aliceblue;
  background-color: transparent;
  text-decoration: underline;
  cursor: grab;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DFB6A3;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #6AB6CE;
}

.home {
  background-color: #DFB6A3;
}


img{
  width: 100%;
  height: auto;
}

.discription{
  width: 300px;
  font-family: 'Russo One', sans-serif;
}

@media only screen and (max-width: 480px) {
  .content {
    width: 90%;
    margin: 0px;
  }
  .limg{
    width: 70%;
    height: auto;
  }
  .discription{
    width: 85%;
    height: auto;
  }
}
